* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

header::before {
  content: "";
  height: 2.5rem;
  width: 2.5rem;
  position: absolute;
  left: 1rem;
  top: 1px;
  border-radius: 50%;
  background: rgb(187, 195, 232);
  background: radial-gradient(
    circle at 40% 40%,
    rgba(187, 195, 232, 1) 0%,
    rgba(71, 90, 166, 1) 27%,
    rgba(46, 57, 147, 1) 100%
  );
  border: solid lightgrey 0.1rem;
}

header,
footer {
  width: 100%;
  background-color: #b55348;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  font-size: 0.9rem;
  color: #fff;
}

header select {
  font-size: large;
  user-select: none;
  height: 2rem;
  width: 5rem;
  background-color: #b55348;
  color: #fff;
  text-align: center;
  border-color: transparent;
}

header select:focus {
  border: none;
  box-shadow: none;
  outline: 0;
}

main {
  flex-grow: 1;
}

h1 {
  margin-bottom: 0;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-style: oblique;
}

h1 span {
  font-style: normal;
  color: grey;
}

.pokemon-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  padding: 3rem;
}

.card {
  border: solid lightgray 1px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0.5rem;
  margin: auto 0;
}

.type-list {
  list-style: none;
  padding: 0;
  display: flex;
  width: 100%;
}

.type-list-item {
  border: solid lightgrey 1px;
  padding: 0.2rem 0.7rem;
  margin-right: 0.8rem;
  border-radius: 15px;
  font-size: small;
}

.poison {
  background-color: #92d812;
}

.water {
  background-color: #4567f0;
}

.grass {
  background-color: #4aa025;
}

.bug {
  background-color: #61b16d;
}

.fire {
  background-color: #f0903b;
}

.electric {
  background-color: #eaca0f;
}

.normal {
  background-color: #989b9f;
}

.flying {
  background-color: #c3bf9a;
}

.ground {
  background-color: #4a362b;
}

.fighting {
  background-color: #7b4209;
}

.psychic {
  background-color: #2f1352;
}

.fairy {
  background-color: #e264a2;
}

.ghost {
  background-color: #d8c3f2;
}

.rock {
  background-color: #3f4349;
}

.steel {
  background-color: #9b95a3;
}

.ice {
  background-color: #6898be;
}

.dragon {
  background-color: #841c12;
}

@media screen and (max-width: 960px) {
  .pokemon-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 820px) {
  .pokemon-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 640px) {
  .pokemon-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 440px) {
  .pokemon-list {
    grid-template-columns: 1fr;
  }
}
